<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.sidecar_pattern_proxy.mapper.LogEntryMapper">
    <insert id="insertLogEntry" parameterType="com.example.sidecar_pattern_proxy.dto.LogEntry">
        INSERT INTO log_entries (message)
        VALUES (#{message})
    </insert>

    <select id="getLogs" resultType="com.example.sidecar_pattern_proxy.dto.LogEntry">
        SELECT * FROM log_entries
    </select>
</mapper>